h1 {
	font-family: verdana;
	text-align: center;
}

li {
	font-family: constantia;
	margin: 10px 10px 10px 10px;
}

button {
	margin: 2px 2px 2px 2px;
	font-family: verdana;
}

input {
	margin: 20px 2px 20px 30px;
}

#left {
	background: url("blue.png"); 
	float: left;
	width: 50%;
	height:100vh;
	text-align: center;
}

#right {
	background: url("green.png"); 
	float: right;
	width: 50%;
	height:100vh;
	text-align: center;
}

#moveButton {
	background-color: white;
	font-size: small;
	margin-left: 10px;
	height: 25px;
	border-radius: 8px;
	border: none;
}

#removeButton {
	background-color: white;
	font-size: small;
	border-radius: 8px;
	height: 25px;
	border: none;
}

#littleDiv {
	width: 75%;
	margin-left: 10%;
	margin-bottom: 6px;
	padding-bottom: 5px;
	padding-top: 5px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 8px;
}

