h1 {
	font-family: verdana;
}

li {
	font-family: constantia;
	margin: 10px 10px 10px 10px;
}

button {
	margin: 2px 2px 2px 2px;
}

input {
	margin: 20px 2px 20px 30px;
}

#left {
	background-color: #bdd6ee;
	float: left;
	width: 50%;
}

#right {
	background-color: #C5E0B3;
	float: right;
	width: 50%;
}

#moveButton {
	background-color: #f2f2f2;
	font-size: small;
	border-radius: 8px;
	margin-left: 10px;
}

#removeButton {
	background-color: #f2f2f2;
	font-size: small;
	border-radius: 8px;
}

#newDiv {
	border: thin solid #808080;
	width: 75%;
	margin-left: 5%;
}