html, body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: verdana;

	/*Pefekt bakgrund enligt css-tricks.com*/
	background: url("healthy-cooking.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

input[type=checkbox] {
	margin: 100px 0px 25px 0px;
}

a {
	text-decoration: none;
	font-size: xx-large;
	color: black;
	text-shadow: 1px 1px 0 #62698B;
}

button {
	margin-bottom: 20px;
	font-size: large;
	font-family: verdana;
}